body {
    background-image: url(./images/fjords.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    overflow: hidden;
}

.video {
    z-index: 1000;
}